/Talleres/Taller_Herencia/Primer ejercicio multimedia/PuntoF/nbproject/private/
/Talleres/Taller_Herencia/Primer ejercicio multimedia/PuntoF/build/
/Talleres/Taller_Herencia/Primer ejercicio multimedia/Ejercicio_coleccion/nbproject/private/
/Talleres/Taller_Herencia/Primer ejercicio multimedia/Ejercicio_coleccion/build/
/Talleres/Taller_Herencia/Primer ejercicio multimedia/Biblioteca/nbproject/private/
/Talleres/Taller_Herencia/Primer ejercicio multimedia/Biblioteca/build/