/Talleres/Taller archivos/Escribir_numeros 1 to 10/nbproject/private/
/Talleres/Taller archivos/Escribir_numeros 1 to 10/build/
/Talleres/Taller archivos/Escribir_numeros 1 to 10/dist/
/Talleres/Taller archivos/Proyectoaborrar/nbproject/private/
/Talleres/Taller archivos/Proyectoaborrar/build/
/Proyecto/Libreta_Direcciones/dist/
/Talleres/Taller archivos/d/nbproject/private/
/Talleres/Taller archivos/d/build/
/Practicas/SudokuWithObserverPattern/nbproject/private/
/Practicas/SudokuWithObserverPattern/build/
/Practicas/SudokuWithObservergcc/build/
/Practicas/SudokuWithObservergcc/dist/
/Practicas/SudokuSolverWithObserver/build/
/Practicas/SudokuSolverWithObserver/dist/
/Practicas/SudokuSolver/dist/
/Practicas/SudokuSolver/build/
/Practicas/PacmanWithObserver/nbproject/private/
/Practicas/PacmanWithObserver/build/
/Practicas/15Puzzle/nbproject/private/
/Proyecto/Puzzle/nbproject/private/
/Proyecto/Puzzle/build/
/Proyecto/Puzzle/dist/
/Proyectos/Libreta_Direcciones/nbproject/private/
/Proyectos/Puzzle/build/
/Proyectos/Puzzle/dist/
/Proyectos/Puzzle/nbproject/private/