/Talleres/Taller archivos/Escribir_numeros 1 to 10/nbproject/private/
/Talleres/Taller archivos/Escribir_numeros 1 to 10/build/
/Talleres/Taller archivos/Escribir_numeros 1 to 10/dist/
/Talleres/Taller archivos/Proyectoaborrar/nbproject/private/
/Talleres/Taller archivos/Proyectoaborrar/build/
/Proyecto/Libreta_Direcciones/dist/